@import '@styles/theme.module.scss';

.root {
    font: $large-font;
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    background-color: $snow-white;
    padding-top: 2em;
    padding-bottom: 2em;
}

.title {
    font: $title-font;
    text-align: center;
    letter-spacing: 0.4rem;

    @media only screen and (max-width: $mobile-width) {
        font-size: 3rem;
    }
}

.paragraph {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
    font: $paragraph-font;

    @media only screen and (max-width: $mobile-width) {
        font-size: 1rem;
    }
}

.text {
    width: 60%;
}

.button {
    font: $button-font;
    text-align: center;
    background-color: $black;
    color: $white;
    border-radius: 9999px;
    align-self: center;
    padding-right: 26px;
    padding-left: 26px;
    padding-bottom: 12px;
    padding-top: 12px;
}

.image {
    align-self: center;
    height: 14em;
    margin-top: 1em;
    width: 24em;
}
.table {
    text-align: Left;
    width: 100%;


}
.td {
    padding:20px;
    color:green;
    font-size: 1.2rem;
    font-weight: 500;
}
.buttonaccept {
    font: $button-font;
    text-align: center;
    background-color: green;
    color: $white;
    border-radius: 1px;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-top: 5px;
}
.buttonreject {
    font: $button-font;
    text-align: center;
    background-color: red;
    color: $white;
    border-radius: 1px;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.submit {
    font: $button-font;
    text-align: center;
    background-color: rgb(72, 0, 255);
    color: $white;
    border-radius: 1px;
    align-self: center;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.thead{
   background-color: rgb(165, 223, 179); 
}
.tr{
    margin-bottom:15px;
}
.password{
    padding:10px;
    border: 1px solid gray;
    background-color: whitesmoke;
}
