@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3.5em;
    align-items: center;
    height: 5em;
    font: $button-font;

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em;
    }
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-font;
}

.active {
    color: $black;
    font-weight: 600;
}
.navtitle {
    position: relative;
    font-size: 25px;
}
.navlogo {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 5px;
}
.icon {
    width: 40px;
}
