@import '../../styles/theme.module.scss';
.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.formFrame {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: 23px;
    font-weight: 500;
}
.btn {
    text-align: center;
    height: 60px;
    background-image: none;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #71c099;
    &:hover {
        background-color: #579a79;
        border-radius: 20px;
    }
    border-radius: 20px;
}
