@import '../../styles/theme.module.scss';
.card {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    background-image: none;
    background-position: 0%;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: #625b5b;
    background-color: #545050;
    background-color: #625b5b;
    background-color: $charcoal-black, $charcoal-black, $charcoal-black, $charcoal-black;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
}
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}
.postTitle {
    font-weight: 500;
    color: $white;
}
.postimage {
    height: 70%;
    position: static;
}
